<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    
    <script src="https://kit.fontawesome.com/19704ccea8.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/sucursales_mobile.css" media="screen and (max-width:600px)">
    <link rel="stylesheet" type="text/css" href="static/css/sucursales_tablet.css" media="screen and (min-width:601px) and (max-width:1000px)">
    <link rel="icon" type="image/png" href="static/media/iconos/favicon.png">
    <title>Comic.Ar - Inicio</title>
</head>
<body>
    <header>
        <nav>
            <div class="barra">
                <h1><img class="logo" src="static/media/img/logo1.png" alt="logo"></h1>
                <a href="{% url 'landing_page' %}">Inicio</a>
                <a href="{% url 'sobreNosotros' %}">Sobre Nosotros</a>
                <a href="{% url 'sucursales' %}">Sucursales</a>
                <a href="{% url 'formulario' %}">Membresías y contacto</a>
                
            </div>
        </nav>
    </header>
    <main>
        <div class="banner">
            <img src="./static/media/img/banner-nuevo.jpeg" alt="banner">
        </div>
        <div class="glass">
            <h2>Nuevos ingresos</h2>
            <p>Encontralos en nuestros locales</p>   
        </div>
        <section class="galeria">
            <img src="static/media/img/comic1.jpg" alt="">
            <img src="static/media/img/comic2.jpg" alt="">
            <img src="static/media/img/comic3.jpg" alt="">
            <img src="static/media/img/comic4.jpg" alt="">
            <img src="static/media/img/comic5.jpg" alt="">
            <img src="static/media/img/comic6.jpg" alt="">
            <img src="static/media/img/comic7.jpg" alt="">
            <img src="static/media/img/comic8.jpg" alt="">
            <img src="static/media/img/comic9.jpg" alt="">
            <img src="static/media/img/comic10.jpg" alt="">
            <img src="static/media/img/comic11.jpg" alt="">
            <img src="static/media/img/comic12.jpg" alt="">
            <img src="static/media/img/comic13.jpg" alt="">
        </section>
        <div class="glass">
            <p>Conoce a tus personajes favoritos</p>
            <div class="personajes" id="personajes">
                <img src="static/media/img/batman.png" id="Batman" data-name="Batman" alt="batman">
                <img src="static/media/img/spiderman.png" id="Spiderman" alt="spiderman">
                <img src="static/media/img/hulk.png" id="Hulk" alt="Hulk">
                <img src="static/media/img/superman.png"  id="Superman"  alt="superman">
                <img src="static/media/img/capitan.png" id="Capitan"  alt="capitan_america">
                <img src="static/media/img/joker.png" id="Joker" alt="joker">
                <img src="static/media/img/venom.png" id="Venom" alt="venom">
                <img src="static/media/img/thor.png" id="Thor" alt="thor">
            </div>
        </div>
        <section class="about">
            <div class="seleccionado" id="infoPersonaje" style="display: none;"></div>
            <div class="seleccionado" id="bioPersonaje" style="display: none;"></div>
        </section>
        <div class="gif">
            <img src="https://i.pinimg.com/originals/12/56/6b/12566b291c332739f9b6bb0f97812b3f.gif" alt="">
        </div>
        
    </main>
    
    <footer>
        <p><b>Buscanos en nuestras redes</b></p>
        <div class="redes">
            
            <i class="fa-brands fa-facebook fa-xl" style="color: #f17604;"></i>
            <i class="fa-brands fa-instagram fa-xl" style="color: #f17604;"></i>
            <i class="fa-brands fa-twitter fa-xl" style="color: #f17604;"></i>

        </div>
        <p>Copyright 2023 © <b>COMIC.AR</b> todos los derechos reservados</p>
    </footer>
    <script type="module" src="./static/js/index.js"></script>
</body>
</html>